@import "tailwindcss";
@import '../fonts/stylesheet.css';

body {
    background: #202020;
    color:white;
    font-family: 'Marsden Extended', sans-serif;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(-45deg, #0f3cb8, #0f172a, #1e293b, #202020);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
